<md-content layout-padding>
    <div flex-gt-sm="50" flex>
        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>{{titulo}}</span>
            </div>
        </md-toolbar>
    </div>
    <md-divider></md-divider>
    <md-list flex class="md-icon-float">
        <md-list-item class="md-2-line" ng-repeat="item in atendimentos">
            <md-icon class="material-icons md-light md-48">face</md-icon>
            <div class="md-list-item-text" layout="column">
                <h4>Nome: {{ item.nome }}</h4>
                <h4>E-mail: {{ item.email}}</h4>
                <h4>Motivo: {{ item.motivo }}</h4>
                <h4>Mensagem: {{ item.mensagem }}</h4>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>