<!--
Solicitando o nome do cliente, e-mail,
cpf e o motivo do contato (lista com opções pré-formatadas).
-->
<div class="frm-motivo">

  <h1>{{ms.titulo}}</h1>
  <hr>
  <form name="frm" novalidate  ng-submit="ms.cadastrarMotivo(frm)" required>

    <div class="campo medio">
      <label>Nome Completo</label>
      <input type="text" id="nome" name="nome" ng-model="ms.mensagem.nome" ng-minlength="4" ng-maxlength="50" placeholder="Digite seu nome *" required>
      <span style="color:maroon" ng-show="frm.nome.$error.minlength">Nome muito curto!</span>
      <span style="color:maroon" ng-show="frm.nome.$error.maxlength">Nome muito longo!</span>
    </div>

    <div class="campo medio">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" ng-model="ms.mensagem.email" placeholder="Digite seu e-mail *" required>
      <span style="color:maroon" ng-class="error" ng-show="frm.email.$error.email">O E-mail é inválido!</span>
    </div>

    <div class="campo medio">
      <label for="cpf">CPF</label>
      <input type="cpf" id="cpf" name="cpf" ng-model="ms.mensagem.cpf" placeholder="Digite seu CPF *" ng-cpf ui-mask="999.999.999-99" required>
      <span style="color:maroon" ng-class="error" ng-show="frm.cpf.$error.cpf">
        O CPF é inválido!
      </span>
    </div>

    <div class="campo medio">
      <label for="motivo">Motivo do contato</label>
      <select data-style="btn-primary" name="motivo" id="motivo" ng-model="ms.mensagem.motivo" required>
        <option value="">---Motivo---</option>
        <option ng-repeat="value in ms.motivos">{{value}}</option>
      </select>
    </div>

    <div class="campo medio" ng-if="ms.mensagem.motivo === ms.motivos[3]">
      <label>Data de Vencimento</label>
        <div class="input-group">
          <input class="form-control" name="dataVencimento" ng-model="ms.mensagem.dataVencimento" placeholder="Digite uma data *" required>
          </input>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
        </span>
      </div>
  </div>

  <div class="campo medio" ng-if="ms.mensagem.motivo !== ms.motivos[3] && ms.mensagem.motivo !== empyt">
    <label>Sua Mensagem</label>
    <textarea ng-model="ms.mensagem.mensagem" name="mensagem" placeholder="Digite seus elogios, sugestões, solicitações / reclamações" ng-minlength="4" ng-maxlength="100" required>
    </textarea>
    <span style="color:maroon" ng-show="frm.mensagem.$error.minlength">Texto muito curto!</span>
    <span style="color:maroon" ng-show="frm.mensagem.$error.maxlength">Texto muito longo!</span>
  </div>

  <label></label>

  <div>
    <button type="reset">Limpar</button>
    <button type="submit" >Enviar</button>
  </div>

  <label></label>

  <div ng-if="ms.atendimento.sucesso" class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ms.nome}}</strong> A(O) {{ms.motivo}} foi enviado com sucesso!
  </div>

  <div ng-if="ms.atendimento.invalido" class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Atenção!</strong> Verifique os campos obrigatórios!
  </div>
</form>

</div>
