
<div class="row">
  
	<div class="row">
		<hr>
		 <h1>{{ms.titulo}}</h1> 
		<hr>
	</div> 
	<span><clock></span> 


	<form class="col s12" name="frm" ng-submit="ms.cadastrarMotivo(frm.$valid)" required novalidate>

	 <div class="row">

	   <div class="input-field col s6 m6 l6">
		 <i class="material-icons prefix">face</i>
		 <input type="text" id="name" name="nome" ng-model="ms.nome"/>
		 <label  for="name">Nome</label>
	   </div>

	   <div class="input-field col s6 m6 l6">
		 <i class="material-icons prefix">mail</i>
		 <input type="email" id="email" name="email" ng-model="ms.email"/>
		 <label for="email" data-error="E-mail inválido!">Email</label>
	   </div>
	 </div>

	 <div class="row">
	   <div class="input-field col s6 m6 l6">
		 <i class="material-icons prefix">perm_identity</i>
		 <input type="text" id="cpf" name="cpf" type="text" ng-model="ms.cpf" ng-cpf ui-mask="999.999.999-99"/>
		 <label  for="cpf" data-error="Cpf inválido!">CPF</label>
	   </div>	
	   <div class="input-field col s6 m6 l6">
		<i class="material-icons prefix">view_list</i>	
		<select id="motivo" name="motivo" ng-model="ms.motivo" ng-options="motivo for motivo in ms.motivos">
		  <option selected value="">-- Escolha o seu motivo --</option>
		</select>
	   </div>
	 </div>
		{{ms.motivo}}
	 <div class="row" ng-if="ms.motivo === ms.motivos[3]">
	   <div class="input-field col l6" >
		 <i class="material-icons prefix">date_range</i>
		 <input type="date" id="dataVencimento" name="dataVencimento" ng-model="ms.dataVencimento" class="datepicker"/>
		 <label for="dataVencimento">Data de vencimento</label>
	   </div>
	 </div>

	 <div class="row" ng-if="ms.motivo !== ms.motivos[3] && ms.motivo !== empyt">
	  <div class="input-field col l6">
		<i class="material-icons prefix">mode_edit</i>
		<textarea id="descricao" name="descricao" ng-model="ms.descricao" class="materialize-textarea"></textarea>
		<label  for="descricao">Sua Mensagem</label>
	  </div>
	</div>

	<div class="row">
		<div class="col s2 m2 l2">
		  <button class="btn waves-effect waves-light" type="reset">Limpar
			 <i class="material-icons right">send</i>
		  </button>
		</div>

		<div class="col s2 m2 l2">
			<button class="btn waves-effect waves-light" type="submit" name="action">
				Enviar
				<i class="material-icons right">send</i>
			</button>
		</div>
	</div>

	</form>


</div>
