<div class="row">
   <div class="col s12 ">
       <h4>Cadastrar Cliente</h4>
   </div>
   <form class="" name="formulario">
       <div class="row">
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">account_circle</i>
               <input id="name" type="text" class="validate" name="Nome" ng-model="vm.nome" value="{{vm.Nome}}">
               <label for="name">Nome</label>
           </div>
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">perm_identity</i>
               <input id="cpf" type="text" class="validate" name="CPF" ng-model="vm.cpf" value="{{vm.Cpf}}">
               <label for="cpf">CPF</label>
           </div>
       </div>
       <div class="row">
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">mail</i>
               <input id="inpuEmail" type="email" class="validate" name="Email" ng-model="vm.email" value="{{vm.Email}}">
               <label for="inpuEmail">Email</label>
           </div>
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">phone</i>
               <input id="inputResidencial" type="tel" class="validate" name="Residencial" ng-model="vm.telefone.residencial" value="{{vm.Telefone.Residencial}}">
               <label for="inputResidencial">Residêncial</label>
           </div>
       </div>
       <div class="row">
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">phone</i>
               <input id="inputCelular" type="tel" class="validate" name="Celular" ng-model="vm.telefone.celular" value="{{vm.Telefone.Celular}}">
               <label for="inputCelular">Celular</label>
           </div>

           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">phone</i>
               <input id="inputComercial" type="tel" class="validate" name="Comercial" ng-model="vm.telefone.comercial" value="{{vm.Telefone.Comercial}}">
               <label for="inputComercial">Comercial</label>
           </div>
       </div>
       <div class="row">
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">location_city</i>
               <input id="inputCEP" type="text" class="validate" name="Cep" ng-model="vm.endereco.cep" value="{{vm.Endereco.Cep}}" ng-blur=" buscaEnderecoPorCep(vm.endereco.cep)">
               <label for="inputCEP">CEP</label>
           </div>
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">location_city</i>
               <input id="inputNumero" type="text" class="validate" name="Numero" ng-model="vm.Endereco.Numero">
               <label for="inputNumero">Número</label>
           </div>
       </div>

       <div class="row">
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">location_city</i>
               <input id="inputLogradouro" type="text" class="validate" name="Logradouro" ng-model="vm.endereco.logradouro" value="{{vm.Endereco.Logradouro}}">
               <label for="inputLogradouro">Logradouro</label>
           </div>
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">location_city</i>
               <input id="inputBairro" type="text" class="validate" name="Bairro" ng-model="vm.endereco.bairro" value="{{vm.Endereco.Bairro}}">
               <label for="inputBairro">Bairro</label>
           </div>
       </div>
       <div class="row">
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">location_city</i>
               <input id="inputLocalidade" type="text" class="validate" name="Localidade" ng-model="vm.endereco.localidade" value="{{vm.Endereco.Localidade}}">
               <label for="inputLocalidade">Localidade</label>
           </div>
           <div class="input-field col s5 m5 l5">
               <i class="material-icons prefix">location_city</i>
               <input id="inputEstado" type="text" class="validate" name="Estado" ng-model="vm.endereco.uf" value="{{vm.Endereco.UF}}">
               <label for="inputEstado">Estado</label>
           </div>
       </div>
       <div class="row left-align">
           <div class="col s5 m5 l5">
               <button class="btn waves-effect waves-light" type="submit" ng-click="submeter()" name="action">
                   Submit
                   <i class="material-icons right">send</i>
               </button>
           </div>
       </div>
   </form>
</div>
