<md-content layout-padding id="popupContainer">
    <div layout="row">
        {{titulo}}
    </div>
    <form name="frm" novalidate ng-submit="cadastrarMotivo(frm)" required>

        <div layout="row">
            <md-input-container flex="50" class="md-icon-float">
                <label>Nome</label>
                <md-icon class="material-icons md-light md-48">face</md-icon>
                <input required name="nome" ng-model="mensagem.nome">
                <div ng-messages="frm.nome.$error">
                    <div ng-message="required">Nome é requerido!</div>
                </div>
            </md-input-container>

            <md-input-container flex="50" class="md-icon-float">
                <label>Email</label>
                <md-icon class="material-icons md-light md-48">mail</md-icon>
                <input required type="email" name="email" ng-model="mensagem.email" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="frm.email.$error" role="alert">
                    <div ng-message-exp="['required']">E-mail requerido!</div>
                    <div ng-message-exp="['pattern']">E-mail inválido!</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container flex="50" class="md-icon-float">
                <label>CPF</label>
                <md-icon class="material-icons md-light md-48">perm_identity</md-icon>
                <input required type="cpf" name="cpf" ng-model="mensagem.cpf" ng-cpf ui-mask="999.999.999-99" />
                <div ng-messages="frm.cpf.$error" role="alert">
                    <div ng-message-exp="['required']">CPF requerido!</div>
                    <div ng-message-exp="['cpf']">CPF inválido!</div>
                </div>
            </md-input-container>

            <md-input-container flex="50" class="md-icon-float">
                <label>Motivo</label>
                <md-icon class="material-icons md-light md-48">view_list</md-icon>
                <md-select name="motivo" ng-model="mensagem.motivo" required>
                    <md-option data-ng-repeat="value in motivos" ng-value="value">
                        {{value}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <!-- Date-picker with min and max dates -->
        <div ng-if="mensagem.motivo === motivos[3]">

            <md-input-container class="md-icon-float">
                <label>Data de Vencimento</label>
                <!-- <md-icon class="material-icons md-light md-48">perm_contact_calendar</md-icon> -->
                <md-datepicker required name="dataVencimento" ng-model="mensagem.dataVencimento" md-min-date="minDate" md-max-date="maxDate">
                </md-datepicker>
                <div ng-messages="frm.dataVencimento.$error" role="alert">
                    <div ng-message-exp="['required']">Data é requerida!</div>
                    <div ng-message-exp="['mindate']">Data é inferior ao permitido!</div>
                    <div ng-message-exp="['maxdate']">Data é superior ao permitido!</div>
                </div>
            </md-input-container>

            <!-- <div layout-gt-sm="row"> -->
            <!-- <div flex-gt-sm class="date-picker-row"> -->
            <!-- <label translate>Data de vencimento</label> -->
            <!-- <md-datepicker ng-model="mensagem.dataVencimento" md-min-date="minDate" md-max-date="maxDate"></md-datepicker> -->
            <!-- </div> -->
            <!-- </div> -->

        </div>

        <div ng-if="mensagem.motivo !== motivos[3] && mensagem.motivo !== empyt">
            <md-input-container class="md-block" class="md-icon-float">
                <label>Sua Mensagem</label>
                <md-icon class="material-icons md-light md-48">edit</md-icon>
                <textarea required ng-model="mensagem.mensagem" md-maxlength="100" rows="3" md-select-on-focus></textarea>
            </md-input-container>
        </div>

        <div layout="row">
            <md-button class="md-raised md-primary" type="reset">Limpar</md-button>
            <md-button class="md-raised md-primary" type="submit">Enviar</md-button>
        </div>

    </form>
</md-content>