	/* label color */
	.input-field label {
		color:dimgray
	}

	/* label focus color */
	.input-field input[type=text]:focus + label{
		color: #000;
	}

	.input-field input[type=email]:focus + label{
		color: #000;
	}
	
	/* label underline focus color */
	.input-field input[type=text]:focus {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}

	.input-field input[type=email]:focus {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}
	
	.input-field textarea:focus { 
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}

	/* valid color */
	.input-field input[type=text].valid {
		border-bottom: 1px solid #4caf50;
		box-shadow: 0 1px 0 0 #4caf50;
	}

	/* invalid color */
	.input-field input[type=text].invalid {
		border-bottom: 1px solid #f44336;
		box-shadow: 0 1px 0 0 #000;
	}

	/* icon prefix focus color */
	.input-field .prefix.active {
		color: #26a69a;
	}
	
