
 @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic,300italic);
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css); */

/*input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}*/

.container {
	width: 800px;
	max-width: 150vw;
	margin: 1 auto;
	background-color: #acb6cb;
	font-family: 'Roboto Condensed', Trebuchet, sans-serif;
	padding: 0 20px 200px;
}

/*.frm-motivo */
h1 {
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 10px;
	padding:2px;
    color: #38517e;
}

/*body {

}*/

/*.frm-motivo input, select, textarea{
	display: block;
	border: 2px solid #ccc;
	border-radius: 3px;
	background-color:#cddc39;
	height: 2rem;
}*/

/*button {
	display: inline-block;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}*/

/*.frm-motivo {
	margin-top: 30px;
	padding: 20px;
	background-color: #7589ac;
}*/


/*
.frm-motivo .campo {
	margin-bottom: 10px;
}

.frm-motivo .campo label {
	display: inline-block;
	margin-bottom: 3px;
	color: #38517e;
	font-size: 2em;
}

.frm-motivo .pequeno input {
	width: 50%;
}

.frm-motivo .medio input {
	width: 100%;
}

.frm-motivo .medio select {
	width: 100%;
}

.frm-motivo .medio textarea {
	width: 100%;
	height: 100px;
}

.frm-motivo footer {
	margin-top: 30px;
	text-align: right;
}

.frm-motivo button[type="submit"] {
	background-color: #8CC155;
	color: #fff;
}

.frm-motivo button[type="submit"]:hover {
	background-color: #A0D461;
}

.frm-motivo button[type="reset"] {
	background-color: #AAB2BD;
	color: #fff;
}

.frm-motivo button[type="reset"]:hover {
	background-color: #CCD1D9;
}

input.ng-touched.ng-invalid{
	border-color: #ff385b;
	border-width: 2px;
}

select.ng-touched.ng-invalid{
	border-color: #ff385b;
	border-width: 2px;
}

textarea.ng-touched.ng-invalid{
	border-color: #ff385b;
	border-width: 2px;
}

.wrapper{
  max-width: 600px;
  margin: 0 auto;
}

.message{
  transition: all linear 0.5s;
  background-color: #666;
  height: 50px;
}
.ng-hide{
  height: 0;
}*/
