
/* .datepickerdemoBasicUsage { */

/* } */

/* .datepickerdemoBasicUsage md-content { */
    /* padding-bottom: 200px;  */
/* } */

/* .datepickerdemoBasicUsage .validation-messages { */
    /* font-size: 12px; */
    /* color: #dd2c00; */
    /* margin-left: 15px;  */
/* } */

/* .navBardemoBasicUsage md-content .ext-content { */
  /* padding: 50px; */
  /* margin: 20px; */
  /* background-color: #FFF2E0;  */
/* } */

/*md-datepicker .md-datepicker-button.md-icon-button {
  display: none;
}*/

/* md-datepicker .md-datepicker-input-container { */
  /* width: 100%; */
  /* margin-left: 10px; */
/* } */

md-datepicker .md-datepicker-input {
  width: calc(50vw - 64px);
  max-width: calc(50vw - 64px);
}
